alabaster==0.7.13 ; python_version >= "3.9" and python_version < "3.11"
appdirs==1.4.4 ; python_version >= "3.9" and python_version < "3.11"
attrs==22.2.0 ; python_version >= "3.9" and python_version < "3.11"
babel==2.12.1 ; python_version >= "3.9" and python_version < "3.11"
beautifulsoup4==4.11.2 ; python_version >= "3.9" and python_version < "3.11"
black==19.10b0 ; python_version >= "3.9" and python_version < "3.11"
bleach==6.0.0 ; python_version >= "3.9" and python_version < "3.11"
certifi==2024.7.4 ; python_version >= "3.9" and python_version < "3.11"
cffi==1.15.1 ; python_version >= "3.9" and python_version < "3.11" and implementation_name == "pypy"
charset-normalizer==3.0.1 ; python_version >= "3.9" and python_version < "3.11"
click==8.1.3 ; python_version >= "3.9" and python_version < "3.11"
colorama==0.4.6 ; python_version >= "3.9" and python_version < "3.11" and sys_platform == "win32" or python_version >= "3.9" and python_version < "3.11" and platform_system == "Windows"
contourpy==1.0.7 ; python_version >= "3.9" and python_version < "3.11"
cycler==0.11.0 ; python_version >= "3.9" and python_version < "3.11"
defusedxml==0.7.1 ; python_version >= "3.9" and python_version < "3.11"
descartes==1.1.0 ; python_version >= "3.9" and python_version < "3.11"
desdeo-emo==1.5.0 ; python_version >= "3.9" and python_version < "3.11"
desdeo-mcdm==1.3.0 ; python_version >= "3.9" and python_version < "3.11"
desdeo-problem==1.5.0 ; python_version >= "3.9" and python_version < "3.11"
desdeo-tools==1.8.0 ; python_version >= "3.9" and python_version < "3.11"
diversipy==0.8 ; python_version >= "3.9" and python_version < "3.11"
docutils==0.18.1 ; python_version >= "3.9" and python_version < "3.11"
fastjsonschema==2.16.3 ; python_version >= "3.9" and python_version < "3.11"
flake8==3.9.2 ; python_version >= "3.9" and python_version < "3.11"
fonttools==4.38.0 ; python_version >= "3.9" and python_version < "3.11"
hvwfg==1.0.2 ; python_version >= "3.9" and python_version < "3.11"
idna==3.4 ; python_version >= "3.9" and python_version < "3.11"
imagesize==1.4.1 ; python_version >= "3.9" and python_version < "3.11"
importlib-metadata==6.0.0 ; python_version >= "3.9" and python_version < "3.10"
importlib-resources==5.12.0 ; python_version >= "3.9" and python_version < "3.10"
jinja2==3.1.2 ; python_version >= "3.9" and python_version < "3.11"
joblib==1.2.0 ; python_version >= "3.9" and python_version < "3.11"
jsonschema==4.17.3 ; python_version >= "3.9" and python_version < "3.11"
jupyter-client==8.0.3 ; python_version >= "3.9" and python_version < "3.11"
jupyter-core==5.2.0 ; python_version >= "3.9" and python_version < "3.11"
jupyterlab-pygments==0.2.2 ; python_version >= "3.9" and python_version < "3.11"
kiwisolver==1.4.4 ; python_version >= "3.9" and python_version < "3.11"
llvmlite==0.39.1 ; python_version >= "3.9" and python_version < "3.11"
markupsafe==2.1.2 ; python_version >= "3.9" and python_version < "3.11"
matplotlib==3.7.0 ; python_version >= "3.9" and python_version < "3.11"
mccabe==0.6.1 ; python_version >= "3.9" and python_version < "3.11"
mistune==2.0.5 ; python_version >= "3.9" and python_version < "3.11"
nbclient==0.7.2 ; python_version >= "3.9" and python_version < "3.11"
nbconvert==7.2.9 ; python_version >= "3.9" and python_version < "3.11"
nbformat==5.7.3 ; python_version >= "3.9" and python_version < "3.11"
nbsphinx==0.8.12 ; python_version >= "3.9" and python_version < "3.11"
numba==0.56.4 ; python_version >= "3.9" and python_version < "3.11"
numpy==1.23.5 ; python_version >= "3.9" and python_version < "3.11"
optproblems==1.3 ; python_version >= "3.9" and python_version < "3.11"
packaging==23.0 ; python_version >= "3.9" and python_version < "3.11"
pandas==1.5.3 ; python_version >= "3.9" and python_version < "3.11"
pandocfilters==1.5.0 ; python_version >= "3.9" and python_version < "3.11"
pathspec==0.11.0 ; python_version >= "3.9" and python_version < "3.11"
pillow==9.4.0 ; python_version >= "3.9" and python_version < "3.11"
platformdirs==3.0.0 ; python_version >= "3.9" and python_version < "3.11"
plotly==5.13.1 ; python_version >= "3.9" and python_version < "3.11"
pycodestyle==2.7.0 ; python_version >= "3.9" and python_version < "3.11"
pycparser==2.21 ; python_version >= "3.9" and python_version < "3.11" and implementation_name == "pypy"
pydoe==0.3.8 ; python_version >= "3.9" and python_version < "3.11"
pyflakes==2.3.1 ; python_version >= "3.9" and python_version < "3.11"
pygments==2.14.0 ; python_version >= "3.9" and python_version < "3.11"
pyparsing==3.0.9 ; python_version >= "3.9" and python_version < "3.11"
pyrsistent==0.19.3 ; python_version >= "3.9" and python_version < "3.11"
python-dateutil==2.8.2 ; python_version >= "3.9" and python_version < "3.11"
pytz==2022.7.1 ; python_version >= "3.9" and python_version < "3.11"
pywin32==305 ; sys_platform == "win32" and platform_python_implementation != "PyPy" and python_version >= "3.9" and python_version < "3.11"
pyzmq==25.0.0 ; python_version >= "3.9" and python_version < "3.11"
regex==2022.10.31 ; python_version >= "3.9" and python_version < "3.11"
requests==2.28.2 ; python_version >= "3.9" and python_version < "3.11"
rstcheck==3.5.0 ; python_version >= "3.9" and python_version < "3.11"
scikit-learn==1.2.1 ; python_version >= "3.9" and python_version < "3.11"
scipy==1.10.1 ; python_version >= "3.9" and python_version < "3.11"
setuptools==67.4.0 ; python_version >= "3.9" and python_version < "3.11"
shapely==1.8.5.post1 ; python_version >= "3.9" and python_version < "3.11"
six==1.16.0 ; python_version >= "3.9" and python_version < "3.11"
snowballstemmer==2.2.0 ; python_version >= "3.9" and python_version < "3.11"
soupsieve==2.4 ; python_version >= "3.9" and python_version < "3.11"
sphinx-rtd-theme==1.2.0 ; python_version >= "3.9" and python_version < "3.11"
sphinx==6.1.3 ; python_version >= "3.9" and python_version < "3.11"
sphinxcontrib-applehelp==1.0.4 ; python_version >= "3.9" and python_version < "3.11"
sphinxcontrib-devhelp==1.0.2 ; python_version >= "3.9" and python_version < "3.11"
sphinxcontrib-htmlhelp==2.0.1 ; python_version >= "3.9" and python_version < "3.11"
sphinxcontrib-jquery==2.0.0 ; python_version >= "3.9" and python_version < "3.11"
sphinxcontrib-jsmath==1.0.1 ; python_version >= "3.9" and python_version < "3.11"
sphinxcontrib-qthelp==1.0.3 ; python_version >= "3.9" and python_version < "3.11"
sphinxcontrib-serializinghtml==1.1.5 ; python_version >= "3.9" and python_version < "3.11"
tenacity==8.2.2 ; python_version >= "3.9" and python_version < "3.11"
threadpoolctl==3.1.0 ; python_version >= "3.9" and python_version < "3.11"
tinycss2==1.2.1 ; python_version >= "3.9" and python_version < "3.11"
toml==0.10.2 ; python_version >= "3.9" and python_version < "3.11"
tornado==6.2 ; python_version >= "3.9" and python_version < "3.11"
traitlets==5.9.0 ; python_version >= "3.9" and python_version < "3.11"
typed-ast==1.5.4 ; python_version >= "3.9" and python_version < "3.11"
urllib3==1.26.14 ; python_version >= "3.9" and python_version < "3.11"
webencodings==0.5.1 ; python_version >= "3.9" and python_version < "3.11"
zipp==3.15.0 ; python_version >= "3.9" and python_version < "3.10"
