[settings]
# This is ignored if $DESDEO_PRODUCTION env variable is present
debug = true

# development configs
[server-debug]
test_user_analyst_name = "analyst"
test_user_analyst_password = "analyst"
test_user_dm1_name = "dm1"
test_user_dm1_password = "dm1"
test_user_dm2_name = "dm2"
test_user_dm2_password = "dm2"

# Auth configuration
[auth-debug]
authjwt_secret_key = "36b96a23d24cebdeadce6d98fa53356111e6f3e85b8144d7273dcba230b9eb18"
authjwt_algorithm = "HS256"
authjwt_access_token_expires = 1 # in minutes
authjwt_refresh_token_expires = 30 # in minutes
cors_origins = [
    "http://localhost",
    "http://localhost:8000",
    "http://localhost:5173",
    "http://127.0.0.1",
    "http://127.0.0.1:8000",
    "http://127.0.0.1:5173",
]
cookie_domain = "" # Not needed for testing

[auth-deploy]
# secret key should be read from env DO NOT EXPOSE!!!!
# authjwt_secret_key = $AUTHJWT_SECRET
authjwt_algorithm = "HS256"
authjwt_access_token_expires = 5  # in minutes
authjwt_refresh_token_expires = 180 # in minutes
# These are not that sensitive info but read from env regardless
# cors_origins = $CORS_ORIGINS
# cookie_domain = $COOKIE_DOMAIN

# SQLite setup (enabled for local development)
[database-debug]
db_host = ""
db_port = ""
db_database = "sqlite:///./test.db"
db_username = ""
db_password = ""
db_pool_size = 1
db_max_overflow = 0
db_pool = false
db_driver = "postgresql+asyncpg"

# Database configuration (deployment)
[database-deploy]
# READ FROM ENV!!!
# db_host = $DB_HOST
# db_port = $DB_PORT
# db_database = $DB_NAME
# db_username = $DB_USER
# db_password = $DB_PASSWORD
db_pool_size = 20
db_max_overflow = 20
db_pool = true
# Can be overridden with $DB_DRIVER env variable
db_driver = "postgresql+asyncpg"
